<a href="https://colab.research.google.com/github/HarshitaDoki/Python_programs/blob/main/List_23_3_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. **LIST** is an alter to switch case,all the items in a list do not need to be of the same type.
2. index starts with 0-in python,the value of elements of a list can be altered.
3. in fruit[x:y]....x=initial index,y=final index 
4. in frruit[x]...x=index of requird string to be displayed
5. -1 is the index n-1 ...-2 is the index n-2...
6. type() function to know which class a variable or a value belongs to. 
7. the isinstance() function is used to check if an object belongs to a     particular class.

1. **TUPLE** -same as a list,Tuples once created cannot be modified,faster than lists.
2. It is defined within parentheses ()

1. **STRINGS** -single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """
2. Strings are immutable.

1. **SET** - { }...Sets have unique values.They eliminate duplicates.
2. sets are unordered collection, indexing has no meaning. Hence, the slicing operator [] does not work.

In [64]:
# LIST EXAMPLE 
fruit=['mango','apple','orange','jackfruit','papaya']
print("1.",fruit[0],",",fruit[1])
print("2.",fruit[1:4])
print("3.",fruit[4])
print("4.",fruit[ -1])
print("5.",fruit[-4:])
print("6.",fruit[2:])
print("7.",fruit[:3])
# print(fruit[8])...GIVES INDEX ERROR ...SINCE INDEX IS OUT OF RANGE
# adding a word/element in list
fruit.append('strawberry')
print("8.",fruit[0:])
# replacing the element
fruit[3]='cherry'
print("9.",fruit[0:])
# inserting an element 
fruit.insert(3,'pineapple')
print("10.",fruit[0:])
# removing an element in list....(to delete list we use delete)
fruit.remove('pineapple')
print("11.",fruit[0:])
#to sort the list
fruit.sort()
print("12.",fruit[0:])
#reverse a list
fruit.reverse()
print("13.",fruit[0:])
#extend a list
fruit.extend('blueberry')
print("14.",fruit[0:])
print(fruit)
#length of list
print(len(fruit))

1. mango , apple
2. ['apple', 'orange', 'jackfruit']
3. papaya
4. papaya
5. ['apple', 'orange', 'jackfruit', 'papaya']
6. ['orange', 'jackfruit', 'papaya']
7. ['mango', 'apple', 'orange']
8. ['mango', 'apple', 'orange', 'jackfruit', 'papaya', 'strawberry']
9. ['mango', 'apple', 'orange', 'cherry', 'papaya', 'strawberry']
10. ['mango', 'apple', 'orange', 'pineapple', 'cherry', 'papaya', 'strawberry']
11. ['mango', 'apple', 'orange', 'cherry', 'papaya', 'strawberry']
12. ['apple', 'cherry', 'mango', 'orange', 'papaya', 'strawberry']
13. ['strawberry', 'papaya', 'orange', 'mango', 'cherry', 'apple']
14. ['strawberry', 'papaya', 'orange', 'mango', 'cherry', 'apple', 'b', 'l', 'u', 'e', 'b', 'e', 'r', 'r', 'y']
['strawberry', 'papaya', 'orange', 'mango', 'cherry', 'apple', 'b', 'l', 'u', 'e', 'b', 'e', 'r', 'r', 'y']
15

to add an element

In [47]:
# for loop
s=0
for i in range(0,30,2):
  print(i)
  s=s+i
print("sum =",s)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
sum = 210