<a href="https://colab.research.google.com/github/HarshitaDoki/Python_programs/blob/main/Module2_progs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Create a function which accepts two inputs from the user and compute nCr
def fact(x):
  f=1
  if x==0:
     x=1
  for i in range(1,x+1):
    f=f*i
  return f
n=int(input("enter n value"))
r=int(input("enter r value"))    
k=fact(n)
l=fact(r)
m=fact(n-r)
c=k/(l*m)
print("nCr of the given is",c)

enter n value10
enter r value2
nCr of the given is 45.0

In [ ]:
#2. Recursive function to compute GCD of 2 numbers
def find(n,m,k):
  if n%k==0 and m%k==0:
    return k
  else:
     find(n,m,k-1) 
n=int(input("enter a num"))
m=int(input("enter a num"))
k=0
if n>m:
  k=m
  find(n,m,k)
else :
  k=n
  find(n,m,k)  
print("GCD of given num is ",k)

enter a num6
enter a num24
GCD of given num is  6

In [ ]:
#3 Recursive function to find product of two numbers
def pdt(n,m):
    if n<m:
        return pdt(m, n)
    elif(m!= 0):
        return(n+ pdt(n,m-1))
    else:
        return 0
n=int(input("n: "))
m=int(input("m: "))
print(pdt(n,m))

n: 5
m: 8
40

In [ ]:
# 4.recursive function to generate fibanocci series
def fib(n):  
   if n <= 1:  
       return n  
   else:  
       return(fib(n-1) + fib(n-2))  
n=int(input("How many terms? "))    
for i in range(n):  
       print(fib(i))

How many terms? 8
0
1
1
2
3
5
8
13

In [ ]:
#5.Program to print a specified list after removing the 0th, 4th and 5th elements. 
st=['pen','pencil','eraser','sharpner','scale','whitener']
st.pop()
st.pop(4)
st.pop(0)
print(st)

['pencil', 'eraser', 'sharpner']

In [ ]:
#6.Program to get the difference between the two lists
x1=[2,4,9,43,53,42]
x2=[8,3,5,2,56,75]
d=list(set(x1)-set(x2))
print(d)

[4, 9, 42, 43, 53]

In [ ]:
#7.Program to find the second smallest number and second largest number in a list
num=[2,5,9,3,47,59,93,38,1]
num.sort()
print('second smallest num is',num[1])
print('second largest num is',num[-2])
print(num)

second smallest num is 2
second largest num is 59
[1, 2, 3, 5, 9, 38, 47, 59, 93]

In [ ]:
#8.Given a list of numbers of list,wapp to create a list of tuples having first element as the number and second element as square of number.
l = [2,4,6,3,5,9]
r= [(i, pow(i, 2)) for i in l]
print(r)

In [ ]:
'''9. Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.'''
test_list=[(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=int(input("enter length of tuple"))
final_list=[n for n in test_list if len(n)!=k]
print("final list=",final_list)

enter length of tuple2
final list= [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
# 10.Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
n=int(input("enter"))
d={}
for x in range(1,n+1):
  d[x]=x*x
print(d)

enter8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#11. Program to remove a key from a dictionary
info={
    'clg':'githam',
    'city':'vskp',
    'branch':'cse-aiml'
}
info.pop('branch')
print(info)

{'clg': 'githam', 'city': 'vskp'}

In [ ]:
# 12.Program to get the maximum and minimum value in a dictionary.
dic={
    'a':10,
    'b':41,
    'c':30
}
maxi=max(dic.keys(),key=(lambda n: dic[n]))
mini=min(dic.keys(),key=(lambda n:dic[n]))
print("max value =",dic[maxi])
print("min value=",dic[mini])

max value = 41
min value= 10

In [ ]:
#13. Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements
animal='rabbit'
c=animal.count('b')
print(c)

2

In [ ]:
#14. Program for replacing one substring by another
animal='rabbit'
print(animal.replace('bb','cc'))
print(animal)

raccit
rabbit

In [ ]:
#15. Python program that accepts a string and calculates the number of uppercase and lowercase letters.
st='My name is Hari'
c=k=0
for i in st:
  if i.isupper():
    c=c+1
  elif i.islower():
    k=k+1  
print('no of upper case letters =',c)   
print('no of lower case letters =',k)

no of upper case letters = 2
no of lower case letters = 10

In [ ]:
#16.Python function that accepts a string and calculates the number of uppercase letters and lowercase letters
def count(st):
  c=k=0
  for i in st:
    if i.isupper():
      c=c+1
    elif i.islower():
      k=k+1 
  print('no of upper case letters =',c)   
  print('no of lower case letters =',k)    
count(st=input("enter a string"))

enter a stringMy name is Hari
no of upper case letters = 2
no of lower case letters = 10

In [ ]:
'''17.Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2'''
def same_words(w):
  c=0
  for word in w:
    if len(word)>1 and word[0]==word[-1]:
      c=c+1
  return c  
print(same_words(['abc','xyz','aba','1221']))

2