<a href="https://colab.research.google.com/github/HarshitaDoki/Python_programs/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A tuple is a collection which is ordered and unchangeable and allow duplicate values.
Tuples are written with round brackets.

In [8]:
animals=('dog','cat','duck','bat','goat') ## or animals=tuple(('dog','cat','duck'))
print(animals)
print(len(animals))
print(animals[2])
print(animals[-2])

('dog', 'cat', 'duck', 'bat', 'goat')
5
duck
bat

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple

In [4]:
animals=('dog',)
print(animals)
print(len(animals))
print(type(animals))

animals=('dog')
print(type(animals))

('dog',)
1
<class 'tuple'>
<class 'str'>

Tuple items can be of any data type,A tuple can contain different data types

In [5]:
animals=('dog','34','true','abc')
print(animals)

('dog', '34', 'true', 'abc')