<a href="https://colab.research.google.com/github/HarshitaDoki/Python_programs/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A tuple is a collection which is ordered and unchangeable and allow duplicate values.
Tuples are written with round brackets.

In [ ]:
animals=('dog','cat','duck','bat','goat') ## or animals=tuple(('dog','cat','duck'))
print(animals)
print(len(animals))
print(animals[2])
print(animals[-2])

('dog', 'cat', 'duck', 'bat', 'goat')
5
duck
bat

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple

In [ ]:
animals=('dog',)
print(animals)
print(len(animals))
print(type(animals))

animals=('dog')
print(type(animals))

('dog',)
1
<class 'tuple'>
<class 'str'>

Tuple items can be of any data type,A tuple can contain different data types

In [14]:
animals=('dog',34,'true','abc','cake','choco',1039)
print(animals)
print(animals[2:8])
print(animals[-6:-1])
print(animals[1:])
print(animals[:-1])
if 'cake' in animals:
  print("yaay! we have cake")

('dog', 34, 'true', 'abc', 'cake', 'choco', 1039)
('true', 'abc', 'cake', 'choco', 1039)
(34, 'true', 'abc', 'cake', 'choco')
(34, 'true', 'abc', 'cake', 'choco', 1039)
('dog', 34, 'true', 'abc', 'cake', 'choco')
yaay! we have cake

Converting tuple to list for changes

In [15]:
animals=('dog','cat','duck','bat','goat')
hp=list(animals)
hp.append('donkey')
animals=tuple(hp)
print(animals)

hp=list(animals)
hp.remove('donkey')
animals=tuple(hp)
print(animals)

('dog', 'cat', 'duck', 'bat', 'goat', 'donkey')
('dog', 'cat', 'duck', 'bat', 'goat')

concatenation of 2 tuples

In [17]:
animals=('dog','cat','duck','bat','goat')
other=('donkey',)
animals=other+animals
print(animals)

del animals
# print(animals)............gives error because the tuple no longer exists

('donkey', 'dog', 'cat', 'duck', 'bat', 'goat')

We are also allowed to extract the values back into variables. This is called "unpacking".
The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [23]:
animals=('dog','cat','duck','bat','goat')
(a,b,c,d,e) =animals
print(a,b,c,d,e)

(x,y,*z)=animals
print(x,y,z)

(k,*l,m)=animals
print(k,l,m)

dog cat duck bat goat
dog cat ['duck', 'bat', 'goat']
dog ['cat', 'duck', 'bat'] goat

In [28]:
fruits=("apple", "banana", "cherry")
for i in range(len(fruits)):
  print(fruits[i])
print(' ')
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

apple
banana
cherry

To multiply the content of a tuple a given number of times, you can use the * operator:

In [29]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

to remove a particular element which is repeated in tuple

In [30]:
a=(1,2,3,3,1,4)
print(a)
b=list(a)
print(b)
for i in list(b):
  if i==1:
    b.remove(i)
a=tuple(b) 
print(a)

(1, 2, 3, 3, 1, 4)
[1, 2, 3, 3, 1, 4]
(2, 3, 3, 4)